<!-- Расширили шаблон home_page-->
{% extends 'photobatle/home_page.html'%}
{% load filter%}

{% block content %}
<div class="container" id="add-photo-container">
    <div class="row">
        <div class="col">
            <div class="add-photo-form">
            {% if error_message %}
                <p>{{ error_message }}</p>
            {% endif %}
                <form method='post' id="add-photo-form" enctype="multipart/form-data">
                    {%csrf_token%}
                    {% for i in form%}
                        {{i.errors}}
                    {% endfor%}
                    <p><label for="id_photo">Фото</label><br>
                        <input type="file" name="photo" accept="image/*" maxlength="255" required id="id_photo">
                    </p>
                    <p><label for="id_name">Имя фото</label><br>
                        <input type="text" name="name" class="form-field" maxlength="255" required id="id_name">
                    </p>
                    <p><label for="id_content">Описание фото</label><br>
                        <textarea type="text" name="content" class="form-field" cols="40"  rows="10" required id="id_content"></textarea>
                    </p>
                    <button type="submit" class="btn btn-primary btn-post-personal-account" id="add-photo-button"> Добавить</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}