<!-- Расширили шаблон home_page-->
{% extends 'photobatle/home_page.html'%}
{% load imagekit %}
{% load filter%}
{% load static %}
{% load socialaccount %}

{% block content %}
{% if post.moderation == 'APPROVED'%}
<div class="container" id="first-detail-block">
    <div class="row">
        <div class="col-12 col-sm-4" id="photo-detail">
            {% if post.photo.url|check_photo %}
            <img src="{{post.photo_imagekit_large.url }}" alt="Card image cap" class="detail-photo">
            {% else %}
            <img src="/static/image/default-photo-post.jpeg" alt="Card image cap" class="detail-photo">
            {% endif %}
        </div>
        <div class="col-12 col-sm-8">
            <div class="add-comment">
                <div class="comment-header">
                    <h5>Комментарии</h5>
                </div>
                <div class="comment-content">
                    {% for comment in comments %}
                    <div class="row">
                        <div class="col">
                            <div class="comment-content-detail">
                                {% if comment.user.photo|check_photo_admin %}
                                    {% if comment.user.photo.url|check_photo %}
                                    <img class="comment-image" src='{{comment.user.photo.url}}' alt="avatar">
                                    {% else%}
                                    <img src="/static/image/default-photo-post.jpeg" class="comment-image" alt="">
                                    {% endif %}
                                {% else %}
                                <img class="comment-image" src="/static/image/default-photo-post.jpeg"
                                     alt="Card image cap">
                                {% endif %}
                                <div class="comment-content-detail-info">
                                    <h5 class="comment-content-detail-info-element">{{comment.user.username}}
                                        {% if comment.user.username == user.username %}
                                        <a onclick="edit_a_comment(id={{comment.pk}},content='{{comment.content}}')"
                                           style="cursor:pointer;"><img src="/static/image/изменение.png" alt=""></a>
                                        {% if comment.pk|check_answer%}
                                        <a href="{% url 'delete_comment' comment.pk%}"><img
                                                src="/static/image/мусорка.png" alt=""></a>
                                        {% endif %}
                                        {% endif %}
                                    </h5>
                                    <p class="comment-content-detail-info-element"
                                       id="comment-content-detail-info-{{comment.pk}}">{{comment}}</p>
                                    <p class="comment-content-detail-info-element"
                                       id="comment-content-detail-info-date-{{comment.pk}}">{{comment.updated_at}}
                                        {% if user.is_authenticated %}
                                        <a id="add-answer-for-comment"
                                           onclick="open_answer_textarea({{comment.pk}})">Ответить</a>
                                        {% else %}
                                        <a id="add-answer-for-comment-disabled">Ответить</a>
                                        {% endif %}
                                    </p>
                                    <div class="answer-for-comment" id="answer-for-comment-{{comment.pk}}">
                                        <div class="answer-comment-button">
                                            <form method="post"
                                                  action="{% url 'create_comment' %}">
                                                {% csrf_token %}
                                                <textarea name="comment" type="text"
                                                          class="md-textarea form-control answer-comment-textarea"
                                                          rows="3" id="input-answer-comment" required></textarea>
                                                <input name="parent_comment_id" type="hidden" value="{{comment.pk}}">
                                                <input name="slug" type="hidden" value="{{post.slug}}">
                                                <a class="btn-danger" onclick="close_answer_comment()">Отмена</a>
                                                {% if user.is_authenticated %}
                                                <button class="btn-success" type="submit">Отправить</button>
                                                {% else %}
                                                <button class="btn-success" type="submit" disabled>Отправить</button>
                                                {%endif%}
                                            </form>
                                        </div>
                                    </div>
                                    <div class="edit-comment" id="edit-comment-{{comment.pk}}" style="display:none;">
                                        <div class="answer-comment-button">
                                            <form method="post"
                                                  action="{% url 'update_comment' comment.pk %}">
                                                {% csrf_token %}
                                                <textarea name="comment" type="text"
                                                          class="md-textarea form-control answer-comment-textarea"
                                                          rows="3" id="edit-comment-{{comment.pk}}-textarea" required></textarea>
                                                <input name="id" type="hidden" value="{{post.pk}}">
                                                <input name="slug" type="hidden" value="{{post.slug}}"><a class="btn-danger"
                                                   onclick="close_edit_comment(id={{comment.pk}},content='{{comment.content}}')">Отмена</a>
                                                <button class="btn-success" type="submit">Сохранить</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% for answer in answer_comments|list_answer_comment:forloop.counter %}
                    {% if forloop.counter < 3%}
                    <div class="row comment-content-detail" id="answer-comment-detail-content">
                        {% else %}
                        <div class="row comment-content-detail other-answer-to-comments-{{comment.pk}}"
                             id="answer-comment-detail-content" style="display:none;">
                            {% endif %}
                            <div class="col">
                                <div class="comment-content-detail" id="answer-comment-detail-content">
                                    {% if answer.user.photo|check_photo_admin %}
                                        {% if answer.user.photo.url|check_photo %}
                                        <img class="comment-image" src='{{answer.user.photo.url}}' alt="avatar">
                                        {% else%}
                                        <img src="/static/image/default-photo-post.jpeg" class="comment-image" alt="">
                                        {% endif %}
                                    {% else %}
                                    <img class="comment-image" src="/static/image/default-photo-post.jpeg"
                                         alt="Card image cap">
                                    {% endif %}
                                    <div class="comment-content-detail-info">
                                        <h5 class="comment-content-detail-info-element">
                                            {{answer.user.username}}
                                            {% if answer.user.username == user.username %}
                                            <a onclick="edit_a_comment(id={{answer.pk}},content='{{answer.content}}')"
                                               style="cursor:pointer;"><img src="/static/image/изменение.png"
                                                                            alt=""></a>
                                            {% if answer.pk|check_answer%}
                                            <a href="{% url 'delete_comment' answer.pk%}"><img
                                                    src="/static/image/мусорка.png" alt=""></a>
                                            {% endif %}
                                            {% endif %}
                                        </h5>
                                        <p class="comment-content-detail-info-element"
                                           id="comment-content-detail-info-{{answer.pk}}">
                                            {{answer|author_parent_comment:answer.parent_id}}, {{answer}}</p>
                                        <p class="comment-content-detail-info-element"
                                           id="comment-content-detail-info-date-{{answer.pk}}">{{answer.updated_at}}
                                            {% if user.is_authenticated %}
                                            <a id="add-answer-for-comment"
                                               onclick="open_answer_textarea({{answer.pk}})">Ответить</a>
                                            {% else %}
                                            <a id="add-answer-for-comment-disabled">Ответить</a>
                                            {% endif %}
                                        </p>
                                        <div class="answer-for-comment" id="answer-for-comment-{{answer.pk}}">
                                            <div class="answer-comment-button">
                                                <form method="post"
                                                      action="{% url 'create_comment' %}">
                                                    {% csrf_token %}
                                                    <textarea name="comment" type="text"
                                                              class="md-textarea form-control answer-comment-textarea"
                                                              rows="3" id="input-answer-comment"
                                                              style="margin-left:-50px;" required></textarea>
                                                    <input name="parent_comment_id" type="hidden" value="{{answer.pk}}">
                                                    <input name="slug" type="hidden" value="{{post.slug}}">
                                                    <a class="btn-danger" onclick="close_answer_comment()">Отмена</a>
                                                    {% if user.is_authenticated %}
                                                    <button class="btn-success" type="submit">Отправить</button>
                                                    {% else %}
                                                    <button class="btn-success" type="submit" disabled>Отправить
                                                    </button>
                                                    {%endif%}
                                                </form>
                                            </div>
                                        </div>
                                        <div class="edit-comment" id="edit-comment-{{answer.pk}}" style="display:none;">
                                            <div class="answer-comment-button">
                                                <form method="post"
                                                      action="{% url 'update_comment' answer.pk %}">
                                                    {% csrf_token %}
                                                    <textarea name="comment" type="text"
                                                              class="md-textarea form-control answer-comment-textarea"
                                                              rows="3"
                                                              id="edit-comment-{{answer.pk}}-textarea" required></textarea>
                                                    <input name="id" type="hidden" value="{{post.pk}}">
                                                    <input name="slug" type="hidden" value="{{post.slug}}">
                                                    <a class="btn-danger"
                                                       onclick="close_edit_comment(id={{answer.pk}},content='{{answer.content}}')">Отмена</a>
                                                    <button class="btn-success" type="submit">Сохранить</button>
                                                </form>
                                            </div>
                                        </div>
                                        {% if forloop.counter == 2 and not forloop.last %}
                                        <a onclick="open_all_answer_for_comment(idd='{{comment.pk}}')" id="open-all-answer-for-comment-{{comment.pk}}"
                                           style="cursor:pointer; color:pink;">Показать больше</a>
                                        {% endif %}
                                        {% if forloop.last and forloop.counter >= 3 %}
                                        <a onclick="close_all_answer_for_comment(idd='{{comment.pk}}')"
                                           style="cursor:pointer; color:pink;">Скрыть</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                        {% endfor%}
                    </div>
                    {% if user.is_authenticated %}
                    <form method="POST" action="{% url 'create_comment'%}">
                        {% csrf_token %}
                        <input type="hidden" name="id" value="{{post.pk}}">
                        <input type="hidden" name="slug" value="{{post.slug}}">
                        <div class="input-group">
                        <textarea onblur="default_text()" onclick="click_text()" name="comment" type="text"
                                  id="input-comment"
                                  placeholder="Оставить комментарий" required></textarea>
                            <button class="button-comment" type="submit"><img
                                    src="/static/image/add-comment.svg" alt="" class="image-comment-button"></button>
                        </div>
                    </form>
                    {% else %}
                    <h5 style="text-align: center;margin-top: 5%;">Авторизуйтесь чтобы комментировать</h5>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-4">
                <div class="detail-post-info">
                    <p>Автор: {{post.user.username}}</p>
                    <p id="like">Лайки: {{post|like_count}}</p>
                    <p>Комментарии: {{post|comment_count}}</p>
                    <p>Дата публикации: <br> {{post.updated_at}}</p>
                    {% if user.username %}
                        {% if post.user.username == user.username %}
                         <a class="btn btn-primary" id="btn-post-detail btn-post-detail" style="cursor: default;">Самолайки запрещены</a>
                        {% else %}
                            {% if user.pk|check_like:post.pk%}
                                <a  class="btn btn-primary btn-post-detail" id="delete">Снять
                                голос</a>
                            {% else %}
                                <a  class="btn btn-primary btn-post-detail" id="create">Лайк</a>
                            {% endif %}
                        {% endif %}
                    {% else %}
                        <a class="btn btn-primary btn-post-detail btn-post-detail" style="cursor:default">Авторизуйтесь</a>
                    {% endif %}
                </div>

            </div>
            <div class="col-12 col-sm-8">
                <div class="detail-post-description">
                    <h5 id="detail-post-description-header">Описание</h5>
                    <p class="card-text" id="detail-post-description">{{post.photo_content}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}
<h1>Самый умный?</h1>
{% endif %}
{% endblock %}

{% block script %}
<script type="text/javascript" src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
        $(document).ready(function () {


            $('.detail-post-info').on('click','#create',function () {
                var slug='{{post.slug}}';
                var url="{% url 'create_like' 1 %}";
                $.ajax({
                    type:'get' ,
                    url: url.replace('1',slug),
                    success: function (response) {
                        document.getElementById('create').remove();
                        var content= "<a class='btn btn-primary btn-post-detail' id='delete'>"+response['button_text']+"</a>";
                        $('.detail-post-info').append(content);
                        document.getElementById('like').innerHTML="Лайки: "+response['like_count'];
                    },
                    error: function (response) {
                        alert(response)
                    }
                });
                return false;
            });

            $('.detail-post-info').on('click','#delete',function () {
                var slug='{{post.slug}}';
                var url="{% url 'delete_like' 1 %}";
                $.ajax({
                    type:'get' ,
                    url: url.replace('1',slug),
                    success: function (response) {
                         document.getElementById('delete').remove();
                        var content= "<a class='btn btn-primary btn-post-detail' id='create'>"+response['button_text']+"</a>";
                        $('.detail-post-info').append(content);
                        document.getElementById('like').innerHTML="Лайки: "+response['like_count'];
                    },
                    error: function (response) {
                        alert(response)
                    }
                });
                return false;
            });


        });
</script>
{% endblock %}