<!-- Расширили шаблон home_page-->
{% extends 'photobatle/home_page.html'%}
{% load filter%}

{% block navbar %}
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
        <li class="nav-item dropdown">
            <a class="navbar-brand nav-link dropdown-toggle " href="#" id="navbarDropdownMenuLink"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Сортировкa
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <form method="get" id="contactForm">
                    {% csrf_token %}
                    {{form.as_p}}
                </form>
            </div>
        </li>
        <input type="hidden" id="trigger" value="asc">
        <a><img src="static/image/up_or_down.png" alt="" id="up_or_down"></a>
        <form method='get' id="serchForm">
            {% csrf_token %}
            <div class="form-group">
                <input class="form-control" type="text" placeholder="Поиск по слову" name="content">
            </div>
            <button type="submit" name="contact-submit" class="btn btn-primary test">Поиск</button>
        </form>
    </div>
</div>
{% endblock %}

{% block animation %}
<div class="animation">
    <h2 id="photobatle">Photo<br>Batle</h2>
    <script>
        function circle(){
        let amount=30;
        let body=document.querySelector('div.animation')
        let score=0;
        while(score<amount){
        let element=document.createElement('score');

        let posX=Math.floor(Math.random() * window.innerWidth);
        let delay=Math.random() * -20;
        let duration=Math.random() * 10;


        let size=Math.random() * 250;
        element.style.width=10+size+'px';
        element.style.height=10+size+'px';
        element.style.left=posX + 'px';
        element.style.animationDelay=delay + 's';
        element.style.animationDuration=5 + duration + 's';
        body.appendChild(element);
        score++;
        }

        }
        circle()
    </script>
</div>
{%endblock%}

<!-- Динамический блок контента home_page-->
{% block content %}
<div class="row">
    <!-- Цикл для рендера постов-->
    {% for post in posts %}
    <div class="col">
        <div class="card" style="width: 18rem;" id="card">

            {% if post.photo.url|check_photo %}
            <a href="{{ post.get_absolute_url }}">
                <img class="card-img-top" src="{{post.photo.url}}" alt="Card image cap">
            </a>
            {% else %}
            <a href="{{ post.get_absolute_url }}">
                <img class="card-img-top" src="/static/image/default-photo-post.jpeg" alt="Card image cap">
            </a>
            {% endif %}

            <div class="card-body" id="card-body">
                <!--Тут мы проверяем длину названия, чтобы если что её обрезать с помощью фильтра-->
                {% if post.photo_name|len_name %}
                <h5 class="card-title" id="first_letters">Название: {{post.photo_name|first_letters}}...</h5>
                <h5 class="card-title" id="full_letters">Название: {{post.photo_name}}</h5>
                {% else %}
                <h5 class="card-title">Название: {{post.photo_name}}</h5>
                {% endif %}
                <!--Конец-->
                <p class="card-text" id="post_content">Описание: {{post.photo_content}}</p>
                <p class="card-text">Автор: {{post.user.username}}</p>
                <p class="card-text {{post.pk}}">Лайки: {{post|like_count}}</p>
                <p class="card-text">Комментарии: {{post|comment_count}}</p>
                <p class="card-text">Дата публикации:
                    <br> {{post.published_at}}</p>
                <a href="{{ post.get_absolute_url }}" class="btn btn-primary" id="btn-post">Посмотреть</a>
            </div>
        </div>
    </div>
    {% endfor %}
    <!-- Конец цикла -->
</div>
{% endblock %}
{% block pagination %}
    {% include 'photobatle/pagination.html' %}
{% endblock %}

{% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Формирование AJAX запроса -->
<script>
      $(document).ready(function () {


      <!--  AJAX для фильтрации     -->
        $('#contactForm').change(function () {
        var contentInput=$('input[name="content"]').val().trim();
        var direction=document.getElementById('trigger').value;
         var options = {
              year: 'numeric',
              month: 'long',
              day: 'numeric',
            };
              $.ajax({
                  data: {'sort_value':document.querySelector('input[name="choice"]:checked').value,
                  'search_value':contentInput,
                  'csrfmiddlewaretoken': '{{csrf_token}}',
                  'page':1,
                  'direction':direction},
                  type: $(this).attr('method'),
                  url: "{% url 'ajax' %}",
                  success: function (response) {
                      $('.row').empty();
                      if((response.posts).length>0){
                      for(var key in response.posts)
                      {
                      var name_photo=response.posts[key].photo_name;
                      var url_photo=response.posts[key].checking_the_existence;
                      if(url_photo!='True'){
                      var url_photo='/static/image/default-photo-post.jpeg';
                      }else{
                      var url_photo=response.posts[key].photo;
                      }
                      var content=
                        '<div class="col">'+
                                '<div class="card" style="width: 18rem;" id="card">'+
                                '<a href="' + response.posts[key].get_absolute_url + '">'+
                                    "<img id='foo' class='card-img-top' src='"+url_photo+"'alt='Не загрузилось :('>"+
                                '</a>'+
                                    '<div class="card-body" id="card-body">';

                                    if(name_photo.length>=11){
                                    var content=content+'<h5 class="card-title" id="first_letters">Название: '+name_photo.substr(0,8)+'...</h5>'+
                                    '<h5 class="card-title" id="full_letters">Название: '+name_photo+'</h5>';
                                    }else{
                                    var content=content+'<h5 class="card-title">Название: '+name_photo+'</h5>';
                                    }
                                      var content=content +
                                        '<p class="card-text" id="post_content">Описание: '+response.posts[key].photo_content+'</p>'+
                                        '<p class="card-text">Автор: '+ response.posts[key].user.username +'</p>'+
                                        '<p class="card-text">Лайки: '+response.posts[key].like_count+'</p>'+
                                        '<p class="card-text">Комментарии: '+response.posts[key].comment_count+'</p>'+
                                        '<p class="card-text">Дата публикации: <br> '+ new Date(response.posts[key].published_at).toLocaleDateString("ru", options) +'</p>'+
                                        '<a href="'+ response.posts[key].get_absolute_url + '"class="btn btn-primary" id="btn-post">Посмотреть</a>'+
                                    '</div>'+
                                '</div>'+
                        '</div>'
                      ;
                      $('.row').append(content);
                      var pagination = document.getElementsByClassName('pagination__item');
                      for(var i=0;i<pagination.length;i++){
                          if(pagination[i].id==response['active_page']){
                              pagination[i].classList.add('active');
                              continue;
                          }
                          pagination[i].classList.remove('active');
                      }
                      }
                      }else{
                      var content='<h1>Ничего не найдено</h1>';
                      $('.row').append(content);
                      }
                  },
                  error: function (response) {
                      alert('error')
                  }
                  });
              return false;
        });

        <!--  AJAX для поиска по слову      -->
        $('#serchForm').submit(function () {
        var contentInput=$('input[name="content"]').val().trim();
        var pagination = document.getElementsByClassName('pagination__item');
        var options = {
              year: 'numeric',
              month: 'long',
              day: 'numeric',
            };
              $.ajax({
                  data: {'search_value':contentInput,
                  'csrfmiddlewaretoken': '{{csrf_token}}',
                  'page': 1},
                  type: 'get',
                  url: "{% url 'ajax_second' %}",
                  success: function (response) {
                      $('#contactForm')[0].reset('');
                      $('.row').empty();
                      if((response.posts).length>0){
                      for(var key in response.posts)
                      {

                      var name_photo=response.posts[key].photo_name;
                      var url_photo=response.posts[key].checking_the_existence;
                      if(url_photo!='True'){
                      var url_photo='/static/image/default-photo-post.jpeg';
                      }else{
                      var url_photo=response.posts[key].photo;
                      }
                      var content=
                        '<div class="col">'+
                                '<div class="card" style="width: 18rem;" id="card">'+
                                '<a href="' + response.posts[key].get_absolute_url + '">'+
                                    "<img class='card-img-top' src='"+url_photo+"' alt='Card image cap'>"+
                                '</a>'+
                                    '<div class="card-body" id="card-body">';

                                    if(name_photo.length>=11){
                                    var content=content+'<h5 class="card-title" id="first_letters">Название: '+name_photo.substr(0,8)+'...</h5>'+
                                    '<h5 class="card-title" id="full_letters">Название: '+name_photo+'</h5>';
                                    }else{
                                    var content=content+'<h5 class="card-title">Название: '+name_photo+'</h5>';
                                    }
                                      var content=content +
                                        '<p class="card-text" id="post_content">Описание: '+response.posts[key].photo_content+'</p>'+
                                        '<p class="card-text">Автор: '+ response.posts[key].user.username +'</p>'+
                                        '<p class="card-text">Лайки: '+response.posts[key].like_count +'</p>'+
                                        '<p class="card-text">Комментарии: '+response.posts[key].comment_count +'</p>'+
                                        '<p class="card-text">Дата публикации: <br> '+ new Date(response.posts[key].published_at).toLocaleDateString("ru", options) +'</p>'+
                                        '<a href="' + response.posts[key].get_absolute_url + '"class="btn btn-primary" id="btn-post">Посмотреть</a>'+
                                    '</div>'+
                                '</div>'+
                        '</div>'
                      ;
                      $('.row').append(content);
                      for(var i=0;i<pagination.length;i++){
                          pagination[i].style.display='inline-flex';
                          if(Number(pagination[i].id)<=Number(response['max_page'])) {
                              if (pagination[i].id == response['active_page']) {
                                  pagination[i].classList.add('active');
                                  continue;
                              }
                              pagination[i].classList.remove('active');
                              continue;
                          }
                          pagination[i].style.display='none';
                      }
                      }
                      }else{
                      var content='<h1>Ничего не найдено</h1>';
                      $('.row').append(content);
                      for (var i = 0; i < pagination.length; i++) {
                              pagination[i].style.display='none';
                      };
                      }
                  },
                  error: function (response) {
                      alert('errorrrrrrrrrr')
                  }
                  });
              return false;
        });


        <!--  AJAX для пагинации     -->
        $('.pagination__link').click(function () {
        var sort_value=document.querySelector('input[name="choice"]:checked');
        var contentInput=$('input[name="content"]').val().trim();
        var direction=document.getElementById('trigger').value;
        if(sort_value){
            sort_value=sort_value.value
        }
        var options = {
              year: 'numeric',
              month: 'long',
              day: 'numeric',
            };
              $.ajax({
                  data: {'csrfmiddlewaretoken': '{{csrf_token}}',
                  'page':Number($(this).attr('id')),
                  'sort_value': sort_value,
                  'search_value':contentInput,
                  'direction':direction},
                  type: 'get',
                  url: "{% url 'pagination' %}",
                  success: function (response) {
                      console.log(response);
                      $('.row').empty();
                      if((response.posts).length>0){
                              for (var key in response.posts) {
                                  var name_photo = response.posts[key].photo_name;
                                  var url_photo = response.posts[key].checking_the_existence;
                                  if (url_photo != 'True') {
                                      var url_photo = '/static/image/default-photo-post.jpeg';
                                  } else {
                                      var url_photo = response.posts[key].photo;
                                  }
                                  var content =
                                      '<div class="col">' +
                                      '<div class="card" style="width: 18rem;" id="card">' +
                                      '<a href="' + response.posts[key].get_absolute_url + '">' +
                                      "<img class='card-img-top' src='" + url_photo + "' alt='Card image cap'>" +
                                      '</a>' +
                                      '<div class="card-body" id="card-body">';

                                  if (name_photo.length >= 11) {
                                      var content = content + '<h5 class="card-title" id="first_letters">Название: ' + name_photo.substr(0, 8) + '...</h5>' +
                                          '<h5 class="card-title" id="full_letters">Название: ' + name_photo + '</h5>';
                                  } else {
                                      var content = content + '<h5 class="card-title">Название: ' + name_photo + '</h5>';
                                  }
                                  var content = content +
                                      '<p class="card-text" id="post_content">Описание: ' + response.posts[key].photo_content + '</p>' +
                                      '<p class="card-text">Автор: ' + response.posts[key].user.username + '</p>' +
                                      '<p class="card-text">Лайки: ' + response.posts[key].like_count + '</p>' +
                                      '<p class="card-text">Комментарии: ' + response.posts[key].comment_count + '</p>' +
                                      '<p class="card-text">Дата публикации: <br> ' + new Date(response.posts[key].published_at).toLocaleDateString("ru", options) + '</p>' +
                                      '<a href="' + response.posts[key].get_absolute_url + '"class="btn btn-primary" id="btn-post">Посмотреть</a>' +
                                      '</div>' +
                                      '</div>' +
                                      '</div>'
                                  ;
                                  $('.row').append(content);
                                  var pagination = document.getElementsByClassName('pagination__item');
                                  for (var i = 0; i < pagination.length; i++) {
                                      if (pagination[i].id == response['active_page']) {
                                          pagination[i].classList.add('active');
                                          continue;
                                      }
                                      pagination[i].classList.remove('active');
                                  }
                              }
                      }else{
                      var content='<h1>Ничего не найдено</h1>';
                      $('.row').append(content);
                      }
                  },
                  error: function (response) {
                      alert('vopros')
                  }
                  });
              return false;
        });


        <!--  AJAX для сортировки по убыванию/возрастанию     -->
        $('#up_or_down').click(function () {
        var contentInput=$('input[name="content"]').val().trim();
        var sort_value=document.querySelector('input[name="choice"]:checked');
        var direction=document.getElementById('trigger').value;
        if(sort_value){
            sort_value=sort_value.value
        }else{
            return ;
        }
        if(direction=='asc') {
            document.getElementById('trigger').value = 'desc';
            direction = 'desc';
        }else{
            document.getElementById('trigger').value = 'asc';
            direction = 'asc';
        }
        var options = {
              year: 'numeric',
              month: 'long',
              day: 'numeric',
            };
              $.ajax({
                  data: {'csrfmiddlewaretoken': '{{csrf_token}}',
                  'page':1,
                  'sort_value': sort_value,
                  'direction':direction,
                  'search_value':contentInput,},
                  type: 'get',
                  url: "{% url 'ajax' %}",
                  success: function (response) {
                      $('.row').empty();
                      if((response.posts).length>0){
                      for(var key in response.posts)
                      {

                      var name_photo=response.posts[key].photo_name;
                      var url_photo=response.posts[key].checking_the_existence;
                      if(url_photo!='True'){
                      var url_photo='/static/image/default-photo-post.jpeg';
                      }else{
                      var url_photo=response.posts[key].photo;
                      }

                      var content=
                        '<div class="col">'+
                                '<div class="card" style="width: 18rem;" id="card">'+
                                '<a href="' + response.posts[key].get_absolute_url + '">'+
                                    "<img class='card-img-top' src='"+url_photo+"' alt='Card image cap'>"+
                                '</a>'+
                                    '<div class="card-body" id="card-body">';

                                    if(name_photo.length>=11){
                                    var content=content+'<h5 class="card-title" id="first_letters">Название: '+name_photo.substr(0,8)+'...</h5>'+
                                    '<h5 class="card-title" id="full_letters">Название: '+name_photo+'</h5>';
                                    }else{
                                    var content=content+'<h5 class="card-title">Название: '+name_photo+'</h5>';
                                    }
                                      var content=content +
                                        '<p class="card-text" id="post_content">Описание: '+response.posts[key].photo_content+'</p>'+
                                        '<p class="card-text">Автор: '+ response.posts[key].user.username +'</p>'+
                                        '<p class="card-text">Лайки: '+response.posts[key].like_count +'</p>'+
                                        '<p class="card-text">Комментарии: '+response.posts[key].comment_count +'</p>'+
                                        '<p class="card-text">Дата публикации: <br> '+ new Date(response.posts[key].published_at).toLocaleDateString("ru", options) +'</p>'+
                                        '<a href="' + response.posts[key].get_absolute_url + '"class="btn btn-primary" id="btn-post">Посмотреть</a>'+
                                    '</div>'+
                                '</div>'+
                        '</div>'
                      ;
                      $('.row').append(content);
                      var pagination = document.getElementsByClassName('pagination__item');
                      for(var i=0;i<pagination.length;i++){
                          if(pagination[i].id==response['active_page']){
                              pagination[i].classList.add('active');
                              continue;
                          }
                          pagination[i].classList.remove('active');
                      }
                      }
                      }else{
                      var content='<h1>Ничего не найдено</h1>';
                      $('.row').append(content);
                      }
                  },
                  error: function (response) {
                      alert('vopros')
                  }
                  });
              return false;
        });

      });
</script>
{% endblock %}