{% load static%}
{% load socialaccount %}
{% providers_media_js %}
{% load filter%}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Фото батл</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo+2&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/project-style.css' %}">
</head>
<body>
<!--Навигация-->
<nav class="navbar navbar-expand-lg navbar-light" style="z-index: 999999;">
    <a class="navbar-brand" href="{% url 'home'%}"><h5>Главная</h5></a>
    {%block navbar%}
    {% endblock %}
    {% if user.is_superuser %}
        <form>
            {% csrf_token %}
            <div class="form-group">
                <input class="form-control" type="text" placeholder="Уведомление для пользователей" id="spam">
            </div>
            <a  class="btn btn-primary test" id="send">Отправить</a>
        </form>
    {% endif %}
    {% if user.is_authenticated %}
    <div class="user-navbar">
        <div class="image-user-navbar">
            <a href="{% url 'user_page'%}">
                {% if user.photo|check_photo_admin %}
                {% if user.photo.url|check_photo %}
                <img src="{{user.photo.url}}" class="photo-user-navbar" alt="">
                {% else%}
                <img src="/static/image/default-photo-post.jpeg" class="photo-user-navbar" alt="">
                {% endif %}
                {% else %}
                <img src="/static/image/default-photo-post.jpeg" class="photo-user-navbar" alt="">
                {% endif %}
            </a>
        </div>
        <div class="info-user-navbar">
            <div class="name-user-navbar">
                {%if user.first_name%}
                <h5>{{user.first_name}} {{user.last_name}}</h5>
                {% else %}
                <h5>{{user.username}}</h5>
                {% endif %}
            </div>
            <div class="email-user-navbar">
                <p>{{user.email}}</p>
            </div>
        </div>
        <div class="logout-user-navbar">
            <a href="{% url 'logout_user'%}">
                <img src="/static/image/logout.png" alt="">
            </a>
        </div>
    </div>
    {% else %}
    <a class="navbar-brand" href="{% provider_login_url 'vk' method='oauth2'%}"><h5>Вход</h5></a>
    {% endif %}
</nav>
<!--Конец навигации-->
{% block animation %}
{%endblock%}
<div class="container-fluid">
    {% block content %}
    {% endblock %}
</div>

<div id="test"></div>

<footer class="bg-light text-center text-lg-start">
    <div class="text-center p-3">
        © 2022 Copyright:
        <a class="text-light" href="https://vk.com/kompot1338">Разаренов Александр</a>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
{% block script%}
{% endblock %}
<script type="text/javascript">

    const socket = new WebSocket('ws://127.0.0.1:8000/ws/test/');

    socket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            console.log(data);
            let message =document.getElementById('test');
            let id = Math.random()+ Math.random();
            message.insertAdjacentHTML('beforeend',
                                                  '<div class="notification" id="notification '+id+'">'+
                                                        '<p class="info-notification">'+data.message+'</p>'+
                                                        '<a class="close-notification" id="'+id+'">x</a>'+
                                                  '</div>');
            let close =document.getElementById(id);
            close.onclick = function(){
                var elem=document.getElementById('notification '+id).remove();
            }
        };

        let spam_message =document.getElementById('send');
            spam_message.onclick = function(){
                var elem=document.getElementById('spam');
                socket.send(JSON.stringify({
                'message': 'Admin: '+elem.value,
                'admin': 'yes',
            }));

            }

</script>
</body>
</html>
