<!-- Расширили шаблон home_page-->
{% extends 'photobatle/home_page.html'%}
{% load filter%}
{% load static %}
{% load imagekit %}

{% block navbar %}
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
        <li class="nav-item dropdown" id="personal_list_posts">
            <a class="navbar-brand nav-link dropdown-toggle " href="#" id="navbarDropdownMenuLink"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Сортировкa
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <form method="post" id="SortForm">
                    {% csrf_token %}
                    {{form.as_p}}
                </form>
            </div>
        </li>
    </div>
</div>
{% endblock %}


<!-- Динамический блок контента home_page-->
{% block content %}
<div class="row row-personal-photo">
    <!-- Цикл для рендера постов-->
    {% if posts|length > 0%}
    {% for post in posts %}
    <div class="col">
        <div class="card" style="width: 18rem;" id="card">

            {% if post.photo.url|check_photo %}
            <a href="{{ post.get_absolute_url }}">
                <img class="card-img-top" src="{{post.photo.url}}" alt="Card image cap">
            </a>
            {% else %}
            <a href="{{ post.get_absolute_url }}">
                <img class="card-img-top" src="/static/image/default-photo-post.jpeg" alt="Card image cap">
            </a>
            {% endif %}

            <div class="card-body" id="card-body">
                {% if post.moderation != '1'%}
                <a href="{% url 'delete_photo' post.slug%}"><img src="/static/image/удалить.png"
                                                                 style="margin-right:10%;" alt=""></a>
                    {% if post.photo_imagekit_medium.url%}
                    <a onclick="edit_a_photo(id={{post.pk}},content='{{post.photo_content}}',name='{{post.photo_name}}',photo='{{post.photo_imagekit_medium.url}}')">
                        <img src="/static/image/изменение.png" style="margin-left:75%; cursor:pointer;" alt=""></a>
                    {% else %}
                    <a onclick="edit_a_photo(id={{post.pk}},content='{{post.photo_content}}',name='{{post.photo_name}}',photo='/static/image/default-photo-post.jpeg')">
                        <img src="/static/image/изменение.png" style="margin-left:75%; cursor:pointer;" alt=""></a>
                    {% endif %}
                {% else %}
                <a href="{% url 'recovery_photo' post.slug%}"><img src="/static/image/востановление.png"
                                                                   style="margin-right:10%;" alt=""></a>
                {% endif %}
                <!--Тут мы проверяем длину названия, чтобы если что её обрезать с помощью фильтра-->
                {% if post.photo_name|len_name %}
                <h5 class="card-title" id="first_letters">Название: {{post.photo_name|first_letters}}...</h5>
                <h5 class="card-title" id="full_letters">Название: {{post.photo_name}}</h5>
                {% else %}
                <h5 class="card-title">Название: {{post.photo_name}}</h5>
                {% endif %}
                <!--Конец-->
                <p class="card-text" id="post_content">Описание: {{post.photo_content}}</p>
                <p class="card-text">Автор: {{post.user.username}}</p>
                <p class="card-text">Лайки: {{post|like_count}}</p>
                <p class="card-text">Комментарии: {{post|comment_count}}</p>
                <p class="card-text">Дата публикации:
                    <br> {{post.updated_at}}</p>
                <p class="card-text">Статус: {{post.get_moderation_display}}</p>
                <a href="{{ post.get_absolute_url }}" class="btn btn-primary" id="btn-post">
                    Посмотреть
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <h1>Вы еще не загружали фото</h1>
    {% endif %}
    <!-- Конец цикла -->
</div>
<div class="row row-add-photo-form">
    {% for post in posts%}
    <div class="col col-add-photo-form" id="col-add-photo-form-{{post.pk}}">
        <div id="add-photo-form">
            <form class='save-photo-personal' method='post' action="{% url 'update_photo' post.slug%}"
                  enctype="multipart/form-data">
                <h5>Старое фото</h5>
                <img src="" alt="" id="old-photo-{{post.pk}}">
                {%csrf_token%}
                <p><label for="{{change_form.id_for_label}}">Новое {{change_form.photo.label|lower}}</label><br>
                    <input type="file" name="photo" accept="image/*" id="id_photo_{{post.pk}}">
                </p>
                <p><label for="{{change_form.id_for_label}}">Новое {{change_form.photo_name.label|lower}}</label><br>
                    <input type="text" name="photo_name" class="form-field" maxlength="255" required
                           id="id_photo_name_{{post.pk}}">
                </p>
                <p><label for="{{change_form.id_for_label}}">Новое {{change_form.photo_content.label|lower}}</label><br>
                    <textarea name="photo_content" cols="40" rows="10" class="form-field" required
                              id="id_photo_content_{{post.pk}}"></textarea>
                </p>
                {{i.errors}}
                <div class="edit_personal_post">
                    <a class="btn-danger" id="cancel-photo-button"
                       onclick="close_edit_a_photo(id='post.pk')">Отмена</a>
                    <button type="submit" class="btn btn-primary btn-post-personal-account"
                            id="add-photo-button">
                        Сохранить
                    </button>
                </div>
            </form>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}


{% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Формирование AJAX запроса -->
<script>
      $(document).ready(function () {
      <!--  AJAX для фильтрации     -->
        $('#SortForm').change(function () {
         var options = {
              year: 'numeric',
              month: 'long',
              day: 'numeric',
            };
              $.ajax({
                  data: {'form':$(this).serialize(),
                  'csrfmiddlewaretoken': '{{csrf_token}}',},
                  type: $(this).attr('method'),
                  url: "{% url 'personal_sort_form' %}",
                  success: function (response) {
                      $('.row-personal-photo').empty();
                      if((response.posts).length!=0){
                      for(var key in response.posts)
                      {
                      var name_photo=response.posts[key].photo_name;
                      var url_photo=response.posts[key].checking_the_existence;
                      var slug=response.posts[key].slug;
                      var photo_delete='{% url "delete_photo" 0 %}'.replace('0',slug);
                      var photo_recovery='{% url "recovery_photo" 0 %}'.replace('0',slug);
                      if(url_photo!='True'){
                      var url_photo='/static/image/default-photo-post.jpeg';
                      }else{
                      var url_photo=response.posts[key].photo;
                      }

                      var content=
                        '<div class="col">'+
                                '<div class="card" style="width: 18rem;" id="card">'+
                                '<a href="' + response.posts[key].get_absolute_url + '">'+
                                    "<img id='foo' class='card-img-top' src='"+url_photo+"'alt='Не загрузилось :('>"+
                                '</a>'+
                                    '<div class="card-body" id="card-body">';
                                    if(response.posts[key].moderation != "1"){
                                    var content=content+'<a href="'+ photo_delete+'"><img src="/static/image/удалить.png" style="margin-right:10%;"></a>'+
                                    '<a onclick="'+"edit_a_photo(id='"+response.posts[key].id+"',content='"+response.posts[key].photo_content+"',name='"+response.posts[key].photo_name+"',photo='"+response.posts[key]['photo_imagekit_medium']+"')"+'">'+
                                    '<img src="/static/image/изменение.png" style="margin-left:75%; cursor:pointer;" alt=""></a>';
                                    }else{
                                    var content=content+'<a href="'+photo_recovery+'" ><img src="/static/image/востановление.png" style="margin-right:10%;"></a>';
                                    }

                                    if(name_photo.length>=11){
                                    var content=content+'<h5 class="card-title" id="first_letters">Название: '+name_photo.substr(0,8)+'...</h5>'+
                                    '<h5 class="card-title" id="full_letters">Название: '+name_photo+'</h5>';
                                    }else{
                                    var content=content+'<h5 class="card-title">Название: '+name_photo+'</h5>';
                                    }

                                      var content=content +
                                        '<p class="card-text" id="post_content">Описание: '+response.posts[key].photo_content+'</p>'+
                                        '<p class="card-text">Автор: '+ response.posts[key].user.username +'</p>'+
                                        '<p class="card-text">Лайки: '+response.posts[key].like_count+'</p>'+
                                        '<p class="card-text">Комментарии: '+response.posts[key].comment_count+'</p>'+
                                        '<p class="card-text">Дата публикации: <br> '+ new Date(response.posts[key].updated_at).toLocaleDateString("ru", options) +'</p>'+
                                        '<p class="card-text">Статус: '+response.posts[key].get_moderation_display+'</p>'+
                                        '<a href="'+ response.posts[key].get_absolute_url + '"class="btn btn-primary" id="btn-post">Посмотреть</a>'+
                                    '</div>'+
                                '</div>'+
                        '</div>'
                      ;
                      $('.row-personal-photo').append(content);
                      }
                      }else{
                      var content='<h1>Ничего не найдено</h1>';
                      $('.row-personal-photo').append(content);
                      }

                  },
                  error: function (response) {
                      alert('error')
                  }
                  });
              return false;
         });
      });

</script>

<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
{% endblock %}