<!-- Расширили шаблон home_page-->
{% extends 'photobatle/home_page.html'%}
{% load imagekit %}
{% load filter%}
{% load static %}

<!-- Динамический блок контента home_page-->
{% block content %}
{% if user.is_authenticated %}
<div class="container" id="personal-account-container">
    <div class="row">
        <div class="col-12 col-sm-12">
            <div class="personal-account-user-image">
                {% if user.photo|check_photo_admin %}
                {% if user.photo.url|check_photo %}
                <img src="{{user.photo_imagekit_medium.url}} " alt="Card image cap" class="personal-account-user-photo">
                {% else%}
                <img src="/static/image/default-photo-post.jpeg" class="personal-account-user-photo" alt="">
                {% endif %}
                {% else %}
                <img src="/static/image/default-photo-post.jpeg" alt="Card image cap"
                     class="personal-account-user-photo">
                {% endif %}
            </div>
        </div>
        <div class="col-12 col-sm-6">
            <div class="public-personal-info">
                <div class="public-item">
                    <h5 class="personal-info-item">Фамилия</h5>
                    {% if user.first_name %}
                    <p>{{user.last_name}}</p>
                    {%else%}
                    <p>Отсутствует</p>
                    {% endif %}
                    <hr>
                </div>
                <div class="public-item">
                    <h5 class="personal-info-item">Имя</h5>
                    {% if user.first_name %}
                    <p>{{user.first_name}}</p>
                    {%else%}
                    <p>{{user.username}}</p>
                    {% endif %}
                    <hr>
                </div>
                <div class="public-item">
                    <h5 class="personal-info-item">Почта</h5>
                    <p>{{user.email}}</p>
                    <hr>
                </div>
                <div class="public-item">
                    <a href="{% url 'create_photo'%}" class="btn btn-primary btn-post-personal-account">
                        Добавить фото
                    </a>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6">
            <div class="private-personal-info">
                <div class="private-item">
                    <h5 class="personal-info-item">Всего лайков</h5>
                    <p>{{user.pk|all_likes}}</p>
                    <hr>
                </div>
                <div class="private-item">
                    <h5 class="personal-info-item">Всего комментариев</h5>
                    <p>{{user.pk|all_comments}}</p>
                    <hr>
                </div>
                <div class="private-item">
                    <h5 class="personal-info-item">API token</h5>
                    <a id="create_api" style="cursor: pointer;"><p>Сгенерировать</p></a>
                    {% if api_token %}
                    <p id="api_token">{{api_token.0}}</p>
                    {%else%}
                    <p id="api_token"></p>
                    {%endif%}
                    <hr>
                </div>
                <div class="private-item">
                    <a href="{% url 'personal_list_posts'%}" class="btn btn-primary btn-post-personal-account">
                        Мои фото
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{%else%}
<h1>Зачем ты сюда зашел?)</h1>
{%endif%}
{% endblock %}
{% block script%}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
        $(document).ready(function () {
            $('#create_api').click(function () {
                var user_id='{{user.id}}';
                var url="{% url 'api_token' 1 %}";
                $.ajax({
                    type:'get' ,
                    url: url.replace('1',user_id),
                    success: function (response) {
                        document.getElementById('api_token').innerHTML=response['token'];
                    },
                    error: function (response) {
                        alert(response)
                    }
                });
                return false;
            });
        });
</script>
{% endblock %}